/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.calculator {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 95vw;
    height: auto;
    background-color: #F8F6F2;
    border: solid 8px #987D56;
    border-radius: 6px;
    margin: 26vh auto 0 auto;
    padding: 20px;
    z-index: 2;
    color: #5D7560;
}