/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-size: large;
    line-height: 150%;
}